@model MVCExercise2_StorageCalculator.Models.Storage

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>

<div>
    <h4>Storage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StorageSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StorageSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
